div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 10px;
    border: 20px groove red;
    background-image: url("../000_image/pup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
