div {
    width:  100px;
    height: 100px;
    border: 1px solid blue;
    border-radius: 10px;
    background-image: url("../000_image/pup.jpg");
    background-size: cover;
    display: inline-block;
}

img {
    width: 200px;
    box-sizing: border-box;
    border: 10px groove chocolate;
    padding: 20px;

}
.dog2 {
    border: 10px dashed chocolate;
}
.dog3 {
      border: 10px dotted chocolate;
}
.dog4 {
    border: 10px double chocolate;
}